
//使用sftp的模式连接服务
//使用宝塔→安全→SSH管理-启用密钥登录，下载密钥，下载到.vscode的目录下，使用目录
//可以开启保存上传.
//貌似不能上传json文件


{
    "name": "My Server",
    "host": "服务IP地址",
    "protocol": "sftp",
    "port": 22,
    "username": "root",
    "privateKeyPath":"",
    "remotePath": "",
    "uploadOnSave": true,
    "useTempFile": false,
    "openSsh": 
    false
}